/* UNIVERSAL TAGS */

* {
  margin: 0;
  box-sizing: border-box;
}

:root {
  --primary-text-color: #000000;
  --rgb-element-color: rgba(0, 0, 0, 0.06);
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: auto;
}

section {
  max-width: 1100px;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
}

header {
  display: flex;
}

/* HEADER SECTION */

#header-section-bar {
  display: flex;
  flex: 1;
  align-items: center;
  margin-top: -10px;
  margin-left: 20px;
  font-weight: 700;
  font-size: 16px;
}

#header-section-bar :nth-child(6) {
  margin-left: 20px;
}

.header-bar-item {
  padding: 0px 15px;
  display: flex;
  align-items: center;
  gap: 9px;
}

.header-bar-item::after {
  content: url(images/drop-icon.png);
}

.dot {
  width: 8px;
  height: 8px;
  background-color: #e00034;
  border-radius: 50%;
}

.header-bar-item > img {
  padding: 0 15px;
  height: 20px;
}

#header-section-widget {
  display: flex;
  align-items: center;
  gap: 30px;
}

.header-widget-text {
  display: flex;
  flex-direction: column;
  font-size: 12px;
  font-weight: 400;
  text-align: right;
  gap: 5px;
}

.header-widget-item {
  display: flex;
  align-items: right;
  font-weight: 500;
  font-size: 18px;
  gap: 10px;
}

.header-widget-item-dollar {
  color: #2adb00;
  font-size: 18px;
  font-weight: 500;
}

.header-widget-item-dollar-line {
  color: var(--rgb-element-color);
}

.header-menu-bar-responsive {
  display: none;
}

.header-menu-bar {
  display: flex;
  border: 1px solid var(--rgb-element-color);
  padding: 15px 20px;
}

.header-menu-bar img {
  width: 28px;
}

@media (max-width: 960px) {
  #header-section-logo {
    padding: 10px;
  }

  #header-section-logo img {
    width: 70px;
  }
  #header-section-bar {
    display: none;
  }

  #header-section-widget {
    flex: 1;
    gap: 5px;
  }

  .header-widget-text {
    border: 1px solid var(--rgb-element-color);
    border-radius: 5px;
    padding: 3px 5px;
    font-size: 10px;
  }

  .header-widget-item {
    font-size: 14px;
  }

  .header-menu-bar-responsive {
    display: block;
  }
}

/* TOP SECTION */

#top-section-introduction {
  display: flex;
  background: linear-gradient(#f4f4f4, rgba(255, 255, 255, 0.22));
  border-radius: 10px;
  margin-bottom: 30px;
  overflow: hidden;
}

#top-section-prime-button {
  color: #ffffff;
  border-radius: 100px;
  padding: 9px;
  width: fit-content;
  font-size: 12px;
  font-weight: 700;
  border: none;
  background: linear-gradient(#e08100, #c90027);
}
#top-section-prime-button:hover {
  padding: 9px 15px;
  transition: 0.5s;
}

.top-section-introduction-text {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding-left: 40px;
  padding-right: 15px;
}

.top-section-introduction-text > h2 {
  font-weight: 700;
  font-size: 26px;
  width: 502.5px;
  height: 118px;
  line-height: 36px;
  color: var(--primary-text-color);
}

.top-section-introduction-text > p {
  font-weight: 500;
  font-size: 13px;
  line-height: 20px;
  width: 502.5px;
  height: 70px;
  top: 138px;
  color: var(--primary-text-color);
  opacity: 0.4;
}

.top-section-introduction-text .top-section-button {
  background-color: #ffffff;
  font-weight: 700;
  width: 65.25px;
  height: 36px;
  padding: 6px 10.69px 6px 11px;
  border-radius: 100px;
  display: flex;
  gap: 5px;
  top: 228px;
}

.top-section-button .img {
  padding: 9px;
  border-radius: 100px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 16px;
  color: #767676;
  width: fit-content;
}

.top-section-button img:hover {
  transform: rotate(40deg);
  transition: transform 0.5s;
}

.top-section-button span {
  font-family: Helvetica Neue;
  font-size: 16px;
  font-weight: 700;
  color: #767676;
}

#top-section-introduction-prime-image {
  width: 542.5px;
  height: 385px;
  position: relative;
  overflow: hidden;
}

#top-section-introduction-prime-image:hover img {
  transform: scale(1.1);
  transition: 1s;
}
#top-section-introduction-prime-image:hover .prime-image-hover {
  opacity: 1;
}

.prime-image-hover {
  opacity: 0;
  position: absolute;
  background-color: rgb(0, 0, 0, 0.3);
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 0.5s;
  inset: 0px;
}

#top-section-information-image-bar {
  display: flex;
  gap: 15px;
}

.top-section-introduction-image {
  overflow: hidden;
  position: relative;
}

.top-section-introduction-image img {
  object-fit: cover;
  display: block;
  transition: transform 0.5s;
}

.image-hover {
  opacity: 0;
  position: absolute;
  background-color: rgb(0, 0, 0, 0.3);
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 0.5s;
  inset: 0px;
}

.top-section-introduction-image:hover .image-hover {
  opacity: 1;
}

.top-section-introduction:hover .top-section-introduction-image img {
  transform: scale(1.2);
  transition: 1s;
}

.top-section-image-text {
  font-weight: 700;
  font-size: 13px;
  padding-top: 10px;
  color: var(--primary-text-color);
  margin-bottom: 10px;
  line-height: 22px;
}

.top-section-image-icon-bar {
  display: flex;
  gap: 19px;
  align-items: center;
}

.top-section-image-icon-bar h4::before {
  content: url(images/share-button.png);
}

.top-section-image-icon-bar h4 {
  display: flex;
  text-align: center;
  border: none;
  color: #8e8e8e;
  font-size: 13px;
  font-weight: 400;
  gap: 5px;
}

.top-section-image-icon-bar h3::before {
  content: url(images/comment-icon.png);
}

.top-section-image-icon-bar h3 {
  display: flex;
  text-align: center;
  border: none;
  color: #8e8e8e;
  font-size: 13px;
  font-weight: 400;
  gap: 5px;
}

.top-section-image-icon-bar h2::before {
  content: url(images/time-icon.png);
}

.top-section-image-icon-bar h2 {
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: 400;
  color: #888888;
}

/* STORY SECTION */

#story-section {
  margin-top: 40px;
}

.story-image:hover img {
  transform: scale(1.2);
  transition: 1s;
}

.story-image {
  overflow: hidden;
  position: relative;
  object-fit: cover;
}

.story-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  transition: transform 0.5s;
}

#story-section-prime-text {
  margin-bottom: 19px;
}

#story-section-prime-text span {
  width: 79.76px;
  height: 22px;
  font-family: Helvetica Neue;
  font-size: 26px;
  font-weight: 700;
  color: #000000;
}

#story-section-prime-text .p-text {
  width: 68.05px;
  height: 24px;
  padding: 1px 1.27px 1px 3px;
  border-radius: 3px;
  background-color: #00b0f4;
  font-family: Helvetica Neue;
  font-size: 18px;
  font-weight: 700;
  color: #ffffff;
}

.story-section-images {
  display: flex;
  flex-direction: row;
  border-radius: 5px;
  opacity: 1;
  gap: 15px;
}

.story-image-logo {
  position: absolute;
  top: 10px;
  left: 10px;
}

.story-text {
  position: absolute;
  bottom: 10px;
  font-family: Helvetica Neue;
  font-size: 13px;
  font-weight: 500;
  left: 10px;
  right: 10px;
  color: #ffffff;
  box-shadow: 1px 1px 1px 0px #ffffff01;
  z-index: 1;
  transition: all 0.5s;
  height: 70px;
  line-height: 17px;
  visibility: hidden;
  opacity: 0;
}

.story-image:hover .story-text {
  color: white;
  transform: translate(0px, 10%);
  height: 125px;
  opacity: 1;
  visibility: visible;
}

.story-view span::before {
  content: url(images/eye.png);
}

.story-image-shadow {
  position: absolute;
  top: 0;
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.7) 0%,
    rgba(0, 0, 0, 0) 70%
  );
  width: 100%;
  height: 100%;
}

.story-view span {
  position: absolute;
  font-family: Helvetica Neue;
  font-size: 12px;
  font-weight: 700;
  color: #ffffff;
  bottom: 10px;
  left: 10px;
  z-index: 1;
}

/* NEWS SECTION */

#daylight {
  display: flex;
  flex-direction: column;
  margin-right: 23px;
}

#daylight-header span {
  font-size: 16px;
  font-weight: 700;
  color: #407ce8;
  display: flex;
  align-items: center;
}

#daylight-header span::after {
  content: url(images/daylight-leaf.png);
}

#daylight-hover-buttons {
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.daylight-button {
  margin-top: 10px;
  width: 103.81px;
  height: 7px;
  border-radius: 20px;
  background: #efefef;
}

.daylight-button:hover {
  background: #407ce8;
}

.daylight-button:hover .daylight-text {
  color: #00b0f4;
}

.daylight-text {
  margin-top: 10px;
  font-size: 13px;
  font-weight: 400;
  text-align: center;
}

#daylight-icon {
  margin-top: 5px;
  left: 23px;
}

#news-container {
  display: flex;
  margin-top: 10px;
}

#news-container-left {
  margin-top: 40px;
  display: flex;
  gap: 30px;
  flex-direction: column;
}

.news {
  display: flex;
  flex-direction: row;
}

.news-header {
  font-size: 19px;
  font-weight: 700;
  text-align: left;
  color: #000000;
  padding-left: 28px;
  width: 480px;
  line-height: 26px;
}

.news-text {
  font-size: 14px;
  font-weight: 400;
  text-align: left;
  padding-top: 10px;
  color: #888888;
  line-height: 22px;
}

.news-icon {
  display: flex;
  flex-direction: row;
  padding-top: 15px;
  gap: 30px;
}

.news-icon h1::before {
  content: url(images/share-button.png);
}

.news-icon h1 {
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: 400;
  color: #888888;
}

.news-icon h2::before {
  content: url(images/time-icon.png);
}

.news-icon h2 {
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: 400;
  color: #888888;
}

.news-icon h3::before {
  content: url(images/comment-icon.png);
}

.news-icon h3 {
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: 400;
  color: #888888;
}

.news-image {
  position: relative;
  overflow: hidden;
  object-fit: cover;
}

.news-image-hover {
  opacity: 0;
  position: absolute;
  background-color: rgb(0, 0, 0, 0.3);
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 0.5s;
  inset: 0px;
}

.news-image:hover .news-image-hover {
  opacity: 1;
}

.news-image:hover img {
  transform: scale(1.2);
  transition: 1s;
}

#news-link {
  width: 690px;
  height: 64.27px;
  padding: 20.5px 295.83px 21.01px 291.38px;
  border-radius: 5px;
  border: 1px;
  background: #f8f8f8;
  gap: 5px;
}

#news-link span {
  display: flex;
  font-size: 16px;
  font-weight: 700;
  align-items: center;
}

#news-link span::after {
  content: url(images/news-link-comment.png);
}

#news-section-right-side-header {
  display: flex;
  font-size: 20px;
  font-weight: 700;
  line-height: 26px;
  text-align: left;
  margin-left: 50px;
  gap: 10px;
}

.news-container-right-header {
  display: flex;
  font-size: 20px;
  font-weight: 700;
  line-height: 26px;
  text-align: left;
  gap: 10px;
}

#news-section-line {
  height: 3222.27px;
  left: 70px;
  border: 1px solid #0000000a;
  flex-direction: column;
  margin-right: 49px;
}

#num-news {
  display: flex;
  flex-direction: column;
}

#news-container-right {
  width: 290px;
  height: 2653.72px;
  margin-top: 35px;
}

#right-news-div {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-top: 53.72px;
}

#news-container-right-text-news {
  width: 340px;
  height: 1650px;
  background-color: #fdfaf5;
  margin-top: 50px;
  margin-left: -50px;
}

.right-text-news {
  display: flex;
  gap: 14.62px;
  margin-top: 31.72px;
  margin-left: 35px;
  padding-top: 11px;
}

.right-text-news-num {
  font-size: 46px;
  font-weight: 700;
  line-height: 46px;
  text-align: left;
  color: #e00034;
}

.news-txt {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.right-text-txt {
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  text-align: left;
  width: 231px;
}

.right-text-news-under-line {
  width: 270px;
  border: 1px solid #0000000a;
  display: flex;
  margin-left: 35px;
  margin-top: 21px;
}

.news-section-image-icon-bar {
  display: flex;
  align-items: center;
  gap: 5px;
}

.news-section-image-icon-bar h4::before {
  content: url(images/share-button.png);
}

.news-section-image-icon-bar h4 {
  display: flex;
  text-align: center;
  border: none;
  color: #8e8e8e;
  font-size: 13px;
  font-weight: 400;
  gap: 5px;
}

.news-section-image-icon-bar h3::before {
  content: url(images/comment-icon.png);
}

.news-section-image-icon-bar h3 {
  display: flex;
  text-align: center;
  border: none;
  color: #8e8e8e;
  font-size: 13px;
  font-weight: 400;
  gap: 5px;
}

.news-section-image-icon-bar h2::before {
  content: url(images/time-icon.png);
}

.news-section-image-icon-bar h2 {
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: 400;
  color: #888888;
}

/* SPEAK SECTION */

#speak-section {
  align-items: center;
  gap: 10px;
  margin-top: 60px;
}

#speak-header {
  display: flex;
  gap: 10px;
}

#speak-section-header {
  font-size: 20px;
  font-weight: 700;
  line-height: 26px;
}

#speak-section-news-container {
  margin-top: 23.22px;
  display: flex;
  gap: 15px;
}

.speak-section-special-news {
  width: 542.5px;
  height: 500px;
  background-image: url(images/speak-sectoin-special.png);
}

#speak-special-news-text-container {
  display: flex;
  flex-direction: column;
  width: 542.5px;
  height: 218px;
  padding-top: 312px;
  gap: 10px;
  margin-left: 30px;
}

.speak-news-button {
  width: 76.48px;
  height: 26px;
  top: 30px;
  left: 30px;
  padding: 1.5px 2.75px 2.5px 5px;
  border-radius: 3px;
  background-color: #407ce8;
  color: #fff;
  font-size: 10px;
  font-weight: 700;
  line-height: 22px;
  text-align: left;
}

.speak-news-button-top {
  width: 76.48px;
  height: 26px;
  top: 30px;
  left: 30px;
  padding: 1.5px 2.75px 2.5px 5px;
  border-radius: 3px;
  background-color: #407ce8;
  color: #fff;
  font-size: 10px;
  font-weight: 700;
  line-height: 22px;
  text-align: left;
}

.speak-news-button-bottom {
  width: 104.5px;
  height: 26px;
  top: 30px;
  left: 30px;
  padding: 1.5px 2.75px 2.5px 5px;
  border-radius: 3px;
  background-color: #407ce8;
  color: #fff;
  font-size: 10px;
  font-weight: 700;
  line-height: 22px;
  text-align: left;
}

.speak-special-news-text {
  width: 466.71px;
  height: 84px;
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
  text-align: left;
  color: #fff;
}

.speak-news-skip-text {
  font-size: 10px;
  font-weight: 700;
  line-height: 22px;
  text-align: left;
  color: #fff;
}

.speak-section-news {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.speak-news-top {
  display: flex;
  gap: 15px;
}

.speak-news-bottom {
  display: flex;
  gap: 15px;
}

#speak-news-container {
  display: flex;
  width: 263.75px;
  height: 130.56px;
  flex-direction: column;
  padding-top: 134px;
  padding-left: 20px;
  gap: 5px;
}

.speak-news-1 {
  width: 263.75px;
  height: 243px;
  background-image: url(images/speak-news-top-img-1.png);
  color: #fff;
  font-size: 13px;
  font-weight: 500;
  line-height: 18.2px;
}

.speak-news-2 {
  width: 263.75px;
  height: 243px;
  background-image: url(images/speak-news-top-img-2.png);
  color: #fff;
  font-size: 13px;
  font-weight: 500;
  line-height: 18.2px;
}

.speak-news-3 {
  width: 263.75px;
  height: 243px;
  background-image: url(images/speak-news-bottom-img-1.png);
  color: #fff;
  font-size: 13px;
  font-weight: 500;
  line-height: 18.2px;
}

.speak-news-4 {
  width: 263.75px;
  height: 243px;
  background-image: url(images/speak-news-bottom-img-2.png);
  color: #fff;
  font-size: 13px;
  font-weight: 500;
  line-height: 18.2px;
}

/* VIBE SECTION */

#vibe-section {
  width: 1180px;
  height: 405px;
  margin-top: 60px;
}

#vibe-section-prime-text {
  margin-bottom: 19px;
  margin-top: 4px;
}

#vibe-section-prime-text span {
  width: 79.76px;
  height: 22px;
  font-family: Helvetica Neue;
  font-size: 26px;
  font-weight: 700;
  color: #000000;
}

#vibe-section-prime-text .p-text {
  width: 99.5px;
  height: 24px;
  padding: 1px 1.27px 1px 3px;
  border-radius: 3px;
  background-color: #00b0f4;
  font-family: Helvetica Neue;
  font-size: 18px;
  font-weight: 700;
  color: #ffffff;
}

#vibe-news-container {
  width: 1100px;
  height: 360px;
  display: flex;
  gap: 15px;
  margin-top: 20px;
}

.vibe-section-introduction {
  width: 263.75px;
  height: 360px;
  border: 1px solid #f1f1f1;
}

.vibe-section-introduction-image {
  overflow: hidden;
  position: relative;
}

.vibe-section-introduction-image img {
  object-fit: cover;
  display: block;
  transition: transform 0.5s;
}

.vibe-section-introduction-image:hover .image-hover {
  opacity: 1;
}
#speak-header {
  display: flex;
  gap: 10px;
}

#speak-section-header {
  font-size: 20px;
  font-weight: 700;
  line-height: 26px;
}

.vibe-section-introduction:hover .vibe-section-introduction-image img {
  transform: scale(1.2);
  transition: 1s;
}

.vibe-news-text {
  font-weight: 700;
  font-size: 13px;
  margin: 10px;
  color: var(--primary-text-color);
  line-height: 22px;
  height: 72px;
}

.vibe-icon-top-line {
  border: 1px solid #00000008;
  display: flex;
  width: 241.75px;
  margin-top: 0px;
  margin-left: 10px;
}

.vibe-icon {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-left: 10px;
  margin-top: 10px;
}

.vibe-section-image-icon-bar {
  display: flex;
  flex-direction: column;
}

.vibe-section-image-icon-bar h4::before {
  content: url(images/share-button.png);
}

.vibe-section-image-icon-bar h4 {
  display: flex;
  text-align: center;
  border: none;
  color: #8e8e8e;
  font-size: 13px;
  font-weight: 400;
  gap: 5px;
}

.vibe-section-image-icon-bar h3::before {
  content: url(images/comment-icon.png);
}

.vibe-section-image-icon-bar h3 {
  display: flex;
  text-align: center;
  border: none;
  color: #8e8e8e;
  font-size: 13px;
  font-weight: 400;
  gap: 5px;
}

.vibe-section-image-icon-bar h2::before {
  content: url(images/time-icon.png);
}

.vibe-section-image-icon-bar h2 {
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: 400;
  color: #888888;
}

/* TECH SECTION */

#tech-section {
  width: 1100px;
  height: 347.22px;
  margin-top: 60px;
}

#tech-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

#tech-header {
  display: flex;
  gap: 10px;
}

#tech-section-header {
  font-size: 20px;
  font-weight: 700;
  line-height: 26px;
}

#tech-news-container {
  display: flex;
  gap: 15px;
}

.tech-section-introduction {
  width: 263.75px;
  height: 295px;
  border: 1px solid #f1f1f1;
}

.tech-section-introduction-image {
  overflow: hidden;
  position: relative;
}

.tech-section-introduction-image img {
  object-fit: cover;
  display: block;
  transition: transform 0.5s;
}

.tech-section-introduction-image:hover .image-hover {
  opacity: 1;
}

.tech-section-introduction:hover .tech-section-introduction-image img {
  transform: scale(1.2);
  transition: 1s;
}

.tech-news-text {
  font-weight: 700;
  font-size: 14px;
  margin: 10px;
  color: var(--primary-text-color);
  line-height: 22px;
}

.tech-icon-top-line {
  border: 1px solid #00000008;
  display: flex;
  width: 241.75px;
  margin-top: 0px;
  margin-left: 10px;
}

.tech-icon {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-left: 10px;
  margin-top: 10px;
}

.tech-section-image-icon-bar {
  display: flex;
  flex-direction: column;
}

.tech-section-image-icon-bar h4::before {
  content: url(images/share-button.png);
}

.tech-section-image-icon-bar h4 {
  display: flex;
  text-align: center;
  border: none;
  color: #8e8e8e;
  font-size: 13px;
  font-weight: 400;
  gap: 5px;
}

.tech-section-image-icon-bar h3::before {
  content: url(images/comment-icon.png);
}

.tech-section-image-icon-bar h3 {
  display: flex;
  text-align: center;
  border: none;
  color: #8e8e8e;
  font-size: 13px;
  font-weight: 400;
  gap: 5px;
}

.tech-section-image-icon-bar h2::before {
  content: url(images/time-icon.png);
}

.tech-section-image-icon-bar h2 {
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: 400;
  color: #888888;
}

/* COMIC SECTION */

#comic-section {
  width: 1180px;
  height: 378.22px;
  margin-top: 60px;
}

#comic-header {
  display: flex;
  gap: 10px;
}

#comic-section-header {
  font-size: 20px;
  font-weight: 700;
  line-height: 26px;
}

#comic-container {
  display: flex;
  gap: 15px;
  margin-top: 16.22px;
}

.comic-section-introduction {
  width: 542.5px;
  height: 330px;
  border: 1px solid #f1f1f1;
}

.comic-section-introduction-image {
  overflow: hidden;
  position: relative;
}

.comic-section-introduction-image img {
  object-fit: cover;
  display: block;
  transition: transform 0.5s;
}

.comic-section-introduction-image:hover .image-hover {
  opacity: 1;
}

.comic-section-introduction:hover .comic-section-introduction-image img {
  transform: scale(1.2);
  transition: 1s;
}

.comic-news-text {
  font-weight: 700;
  font-size: 14px;
  margin: 10px;
  color: var(--primary-text-color);
  line-height: 22px;
  height: 72px;
}

.comic-icon-top-line {
  border: 1px solid #00000008;
  display: flex;
  width: 520.5px;
  margin-top: 0px;
  margin-left: 10px;
}

.comic-icon {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-left: 10px;
  margin-top: 10px;
}

.comic-section-image-icon-bar {
  display: flex;
  flex-direction: column;
}

.comic-section-image-icon-bar h4::before {
  content: url(images/share-button.png);
}

.comic-section-image-icon-bar h4 {
  display: flex;
  text-align: center;
  border: none;
  color: #8e8e8e;
  font-size: 13px;
  font-weight: 400;
  gap: 5px;
}

.comic-section-image-icon-bar h3::before {
  content: url(images/comment-icon.png);
}

.comic-section-image-icon-bar h3 {
  display: flex;
  text-align: center;
  border: none;
  color: #8e8e8e;
  font-size: 13px;
  font-weight: 400;
  gap: 5px;
}

.comic-section-image-icon-bar h2::before {
  content: url(images/time-icon.png);
}

.comic-section-image-icon-bar h2 {
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: 400;
  color: #888888;
}

/* VIEW SECTION */

#view-section {
  width: 1920px;
  height: 767.25px;
  background-color: #1a1a1a;
  margin-top: 60px;
  padding-top: 50px;
}

#view-layout {
  width: 1180px;
  height: 717.25px;
  margin-left: 370px;
}

#header {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-left: 40px;
}

#view-section-header {
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  text-align: left;
  color: #ffffff;
}

#view-container {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.view-news-top {
  display: flex;
  margin-top: 26.25px;
  margin-left: 40px;
  gap: 15px;
}

.view-news-bottom {
  display: flex;
  margin-top: 26.25px;
  margin-left: 40px;
  gap: 15px;
}

.view-section-introduction {
  width: 263.75px;
  height: 295px;
}

.view-section-introduction-image {
  overflow: hidden;
  position: relative;
}

.view-section-introduction-image img {
  object-fit: cover;
  display: block;
  transition: transform 0.5s;
}

.view-section-introduction-image:hover .image-hover {
  opacity: 1;
}

.view-section-introduction:hover .view-section-introduction-image img {
  transform: scale(1.2);
  transition: 1s;
}

.view-news-text {
  font-weight: 700;
  font-size: 14px;
  margin: 10px;
  color: #8e8e8e;
  line-height: 22px;
  width: 263.75px;
}

.view-icon {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-left: 10px;
  margin-top: 10px;
}

.view-section-image-icon-bar {
  display: flex;
  flex-direction: column;
}

.view-section-image-icon-bar h4::before {
  content: url(images/share-button.png);
}

.view-section-image-icon-bar h4 {
  display: flex;
  text-align: center;
  border: none;
  color: #8e8e8e;
  font-size: 13px;
  font-weight: 400;
  gap: 5px;
}

.view-section-image-icon-bar h3::before {
  content: url(images/comment-icon.png);
}

.view-section-image-icon-bar h3 {
  display: flex;
  text-align: center;
  border: none;
  color: #8e8e8e;
  font-size: 13px;
  font-weight: 400;
  gap: 5px;
}

.view-section-image-icon-bar h2::before {
  content: url(images/time-icon.png);
}

.view-section-image-icon-bar h2 {
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: 400;
  color: #888888;
}

.view-news-top {
  position: relative;
}

.live-icon {
  position: absolute;
  margin-top: -171px;
}

.view-news-bottom {
  position: relative;
}

.cam-icon {
  position: absolute;
  margin-top: -171px;
}

/* FOOTER SECTION */

#footer-section {
  width: 1100px;
  height: 121.06px;
  margin-top: 50px;
  margin-bottom: 50px;
}

#footer-top {
  display: flex;
}

#footer-section-logo {
  margin-left: 40px;
  margin-right: 72.83px;
}

#footer-anchors {
  display: flex;
  gap: 26.72px;
  margin-top: -20px;
}

.footer-anchor {
  display: flex;
  align-items: center;
  gap: 5px;
}

.footer-anchor-text {
  font-size: 15px;
  font-weight: 500;
  line-height: 22px;
}

.footer-line {
  border: 1px solid #00000008;
  display: flex;
  width: 1060px;
  margin-top: 30px;
  margin-left: 40px;
}

#footer-bottom {
  display: flex;
  margin-top: 36px;
  height: 20px;
}

#footer-bottom-left-text {
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  margin-left: 40px;
}

#footer-bottom-right-images {
  display: flex;
  gap: 13.34px;
  margin-left: 540px;
}
